@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #191919;
  color: white;
}

/*Navbar*/
.shadow{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 15px, rgba(0, 0, 0, 0.23) 0px 3px 15px;
}